{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $github := promptStringOnce . "github_user" "GitHub username" -}}
{{- $machine := promptChoiceOnce . "machine_type" "Machine type" (list "personal" "server") -}}
[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  github_user = {{ $github | quote }}
  machine_type = {{ $machine | quote }}
